:root {
  --blanco: #FFF;
  --negro: #000;
  --rojo: #C20C0D;
  --rojo-full: #df0a0a;
  --rojo-70: rgba(194, 12, 12, 0.7);
  --rojo-50: rgba(194, 12, 12, 0.5);
  --rojo-10: rgba(194, 12, 12, 0.1);
  --crema: #FFF4E9;
  --crema-10: rgb(255, 244, 233, 0.1);
  --crema-30: rgb(255, 244, 233, 0.3);
  --crema-50: rgb(255, 244, 233, 0.5);
  --crema-70: rgb(255, 244, 233, 0.7);
  --gris: #D3CEC8;
  --gris-10: rgba(211, 206, 200, 0.1);
  --gris-50: rgba(211, 206, 200, 0.5);
  --shadow-50: rgba(0, 0, 0, 0.5);

  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Casanova Scotia';
  src: url(./fonts/Casanova\ Scotia.otf);
}

body {
  padding: 0;
  margin: 0;
}

button {
  width: 270px;
  height: 60px;
  border-color: transparent;
  border-style: solid;
  border-radius: 30px;
  border-width: 3px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 900;
  transition: all .3s ease;
}

a {
  text-decoration: none;
  color: initial;
}

.location-pin {
  position: absolute;
}

.desktop {
  display: initial;
}

.mobile {
  display: none;
}

.d-flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

nav {
  background-color: var(--crema);
  font-weight: 100;
  position: relative;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#nav--checkbox {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  display: none;
}

.nav--logo {
  width: 100px;
  padding-left: 2rem;
}

nav > ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

nav > ul > li {
  text-decoration: none;
  margin: auto;
  font-weight: normal;
  background-color: transparent;
  transition: all .3s ease;
  padding: 5px 7px;
  border-radius: 3px;
}

nav > ul > li:hover {
  background-color: var(--rojo-10);
}

/* ---------------------- HERO ------------------------- */

.hero {
  width: 100%;
  min-height: calc(100vh - 94px);
  background-color: var(--crema);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero > h2 {
  font-weight: 300;
  font-size:  2rem;
  margin-left: 10%;
  align-self: flex-start;
}

.hero--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7vw;
}

.hero--content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  z-index: 10;
}

.hero--logo {
  width: 30vw;
  align-self: center;
}

.hero--content > p {
  font-size: 2rem;
  padding: 2rem;
  width: 100%;
}

.hero--content button {
  background-color: var(--rojo);
  color: var(--crema);
  cursor: pointer;
}

.hero--content button:hover {
  background-color: var(--rojo-full);
  color: var(--blanco);
}

.hero--img {
  width: 20%;
  height: 450px;
  position: relative;
  animation: grow .3s ease forwards;
}

.hero--img::after {
  content: '';
  height: 120px;
  width: 100%;
  background-color: var(--rojo-50);
  position: absolute;
  bottom: 30px;
  z-index: -1;
  border-radius: 100%;
  box-shadow: 0 10px 12px 3px var(--gris-50);
  opacity: .3;
}

.hero--img > img {
  position: absolute;
  margin: auto;
  inset: 0;
  filter: drop-shadow(0 3px 3px var(--shadow-50));
}

.hero--volcan {
  width: 160px;
  animation: hero-volcan .3s ease forwards;
}

.hero--burgers {
  width: 250px;
  animation: hero-burgers .35s ease forwards;
}

.hero--potato {
  width: 200px;
  animation: hero-potato .4s ease forwards;
}

.hero--pepas {
  width: 200px;
  animation: hero-pepas .4s ease forwards;
}

/* -------------------------- QUIENES SOMOS -------------------------- */

.quienessomos {
  min-height: 100vh;
  background-color: var(--gris);
  position: relative;
}

.quienessomos .location-pin {
  transform: rotate(-90deg);
  top: -250px;
  left: 70px;
  opacity: .2;
}

.quienessomos--content {
  padding: 1rem 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.quienessomos--content > h2 {
  align-self: flex-end;
  color: var(--rojo);
  font-size: 3.8rem;
  font-weight: 700;
  text-align: right;
}

.quienessomos--content > p {
  font-size: 1.2rem;
  color: var(--rojo);
}

.quienessomos--content > h3 {
  align-self: flex-start;
  color: var(--rojo);
  font-weight: 700;
  text-align: right;
}

.quienessomos--productos {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
} 

.quienessomos--productos > div {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
}

.quienessomos--productos > div:hover {
  transform: scale(1.1);
  z-index: 10;
}

.quienessomos--productos:hover > div:not(div:hover) {
  transform: scale(.7);
  opacity: .3;
}

.quienessomos--productos img {
  height: 10vw;
  position: absolute;
  transition: all .3s ease;
}

.quienessomos--productos > div > img:nth-child(1) {
  transform: rotate(-20deg) translateX(-2vw);
  filter: brightness(.7);
}

.quienessomos--productos > div > img:nth-child(2) {
  transform: rotate(-10deg) translateX(-1vw);
  filter: brightness(.7);
}

.quienessomos--productos > div > img:nth-child(3) {
  transform: rotate(10deg) translateX(1vw);
  filter: brightness(.7);
}

.quienessomos--productos > div > img:nth-child(4) {
  transform: rotate(20deg) translateX(2vw);
  filter: brightness(.7);
}

.quienessomos--productos > div > img:nth-child(5) {
  transform: rotate(0deg);
}

.quienessomos--productos > div:hover > img:nth-child(1) {
  transform: rotate(-20deg) translateX(-8vw);
  filter: brightness(1);
}

.quienessomos--productos > div:hover > img:nth-child(2) {
  transform: rotate(-10deg) translateX(-4vw);
  filter: brightness(1);
}

.quienessomos--productos > div:hover > img:nth-child(3) {
  transform: rotate(10deg) translateX(4vw);
  filter: brightness(1);
}

.quienessomos--productos > div:hover > img:nth-child(4) {
  transform: rotate(20deg) translateX(8vw);
  filter: brightness(1);
}

.quienessomos--content a button {
  color: var(--rojo);
  background-color: var(--crema);
  margin-bottom: 2rem;
}

.quienessomos--content a button:hover {
  color: var(--rojo-full);
  background-color: var(--blanco);
  cursor: pointer;
}

/* -------------------------- UBICACIÓN -------------------------- */

.ubicacion {
  width: 100%;
  min-height: 100vh;
  padding: 3rem;
  background-color: var(--rojo);
  color: var(--crema);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.ubicacion--content {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.ubicacion--content > h2 {
  font-size: 3.8rem;
  margin-top: 0;
}

.ubicacion--content p {
  font-size: 1rem;
}

.ubicacion--img {
  position: relative;
  width: 700px;
  height: 500px;
}

.ubicacion--img > .location-pin-white {
  z-index: 5;
  position: absolute;
  margin: auto;
  inset: 0;
  right: 5vw;
  transform: rotate(25deg);
  height: 100vh;
}

.ubicacion--mapa {
  position: absolute;
  margin: auto;
  inset: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  outline: 7px solid var(--crema);
  border-radius: 10px;
}

.ubicacion--img > .location-pin {
  width: 70px;
  filter: drop-shadow(0 0 2px #fff);
  position: absolute;
  z-index: 15;
}

.ubicacion--img .lanus {
  left: 25px;
  top: 0;
  animation: pin-jump 1.2s .3s ease infinite;
}

.ubicacion--img .laplata {
  bottom: 120px;
  right: 70px;
  animation: pin-jump 1.2s ease infinite;
}


/* -------------------------- EMPLEO -------------------------- */

.empleo {
  width: 100%;
  min-height: 700px;
  height: 100vh;
  background-color: var(--crema);
  color: var(--negro);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.empleo h2 {
  font-size: 3rem;
  margin-top: 0;
}

.empleo--container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.empleo--container p {
  width: 60%;
  text-align: right;
}

.empleo--img {
  width: 30%;
  max-width: 400px;
  position: absolute;
  left: 12%;
  filter: brightness(1.1) drop-shadow(0 0 6px rgba(180,0,0,.3));
  transition: all .3s ease;
}

.empleo--img:hover {
  transform: translateY(-5px) scale(1.1);
  filter: brightness(1.15)  drop-shadow(0 0 1px rgba(180,0,0,.3));
}

.empleo button {
  background-color: var(--rojo);
  color: var(--crema);
  cursor: pointer;
}

.empleo button:hover {
  background-color: var(--rojo-full);
  color: var(--blanco);
}



/* -------------------------- DISTRIBUIDORES -------------------------- */

.distribuidores {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--rojo);
  color: var(--crema);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

.distribuidores > .location-pin-white {
  position: absolute;
  left: 50px;
  top: -250px;
  transform: rotate(-90deg);
  opacity: .5;
}

.distribuidores > h2 {
  font-size: 3.6rem;
  margin: 0;
  margin-top: 5rem;
}

.distribuidores > p {
  width: 70%;
  font-size: 1.2rem;
}

.testimonios--container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  gap: 2rem;
}

.testimonios--card {
  border: 1px solid var(--crema-50);
  border-radius: 20px;
  background-color: var(--crema-10);
  color: var(--blanco);
  padding: 1rem 2rem;
  box-shadow: inset -10px -20px 50px 10px var(--crema-10);
  transition: all .3s ease;
  user-select: none;
}

.testimonios--card:hover {
  background-color: var(--rojo-full);
  transform: translateY(-5px);
}

.testimonios--card-quote {
  font-family: 'Casanova Scotia';
  font-size: 70px;
  margin: 0;
  margin-left: 1rem;
  position: relative;
  color: var(--blanco);
}

.testimonios--card-quote::before {
  content: '';
  background-color: var(--crema-50);
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  left: -10px;
  top: -5px;
}

.testimonios--card > p {
  min-height: 30%;
  font-size: 1rem;
  font-weight: 200;
}

.testimonios--card > h3 {
  margin: 0;
}

.testimonios--card > h4 {
  margin: 0 .7rem;
  font-size: 1rem;
  font-weight: 300;
}

.distribuidores--convocatoria {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 65%;
  margin-top: 3rem;
  margin-bottom: 6rem;
  font-size: 1.2rem;
  background-color: var(--blanco);
  color: var(--negro);
  padding: 3rem;
  padding-bottom: 4rem;
  border-radius: 18px;
}

.distribuidores--convocatoria::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 100px solid var(--blanco);
  position: absolute;
  margin: auto;
  bottom: -99px;
  left: 0;
  right: 0;
}

.distribuidores--convocatoria > ul {
  margin: 0 10vw;
}

.distribuidores--convocatoria > img {
  width: 90px;
  border: 1px solid var(--rojo-50);
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  top: -45px;
  background-color: var(--blanco);
  margin: auto;
  left: 0;
  right: 0;
  box-shadow: 0 7px 12px 0 var(--gris);
}

.distribuidores--convocatoria > h3 {
  margin: 0;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
}

.distribuidores--convocatoria > h4 {
  color: var(--rojo-full);
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}

.distribuidores--convocatoria > a {
  align-self: center;
  margin-top: 3rem;
}

.distribuidores--convocatoria > a > button {
  background-color: var(--rojo);
  color: var(--crema);
}

.distribuidores--convocatoria button:hover {
  background-color: var(--rojo-full);
  color: var(--blanco);
  cursor: pointer;
}


/* -------------------------- FOOTER -------------------------- */

footer {
  background-color: var(--rojo-70);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  color: var(--blanco);
}

footer p a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: 500;
}

footer p img {
  height: 1.8rem;
  margin-left: 1rem;
}


/* -------------------------- USUARIOS -------------------------- */

.usuarios {
  width: 100%;
  height: 100vh;
  background-color: var(--crema);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usuarios h3 {
  font-weight: 400;
  font-size: 2rem;
}

.usuarios button {
  background-color: var(--rojo);
  color: var(--crema);
}

.usuarios button:hover {
  background-color: var(--rojo-full);
  color: var(--blanco);
  cursor: pointer;
}


/* -------------------------- ANIMACIONES -------------------------- */

@keyframes appear {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes grow {
  from {transform: scale(.5);}
  to {transform: scale(1);}
}

@keyframes hero-volcan {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(-100px,-90px) rotate(-10deg);}
}

@keyframes hero-volcan-mobile {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(-50px,-45px) rotate(-10deg);}
}

@keyframes hero-burgers {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(10px,-100px);}
}

@keyframes hero-burgers-mobile {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(5px,-50px);}
}

@keyframes hero-potato {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(100px,10px) rotate(30deg);}
}

@keyframes hero-potato-mobile {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(50px,5px) rotate(30deg);}
}

@keyframes hero-pepas {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(-50px,50px) rotate(-25deg);}
}

@keyframes hero-pepas-mobile {
  from {transform: rotate(0deg) translateX(0);}
  to {transform: translate(-25px,25px) rotate(-25deg);}
}

@keyframes pin-jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* -------------------------- RESPONSIVE -------------------------- */

@media screen and (max-width: 1200px) {

  .ubicacion {
    flex-direction: column;
  }

  .ubicacion--content {
    width: 70vw;
  }

  .ubicacion--img {
    margin-bottom: 3rem;
  }

  .distribuidores h2 {
    z-index: 5;
  }

  .testimonios--container {
    width: 80%;
    gap: 1rem;
  }

  .testimonios--card {
    padding: 1rem;
  }

  .testimonios--card p {
    font-size: .8rem;
  }

  .testimonios--card h3 {
    font-size: 1rem;
  }

  .testimonios--card h4 {
    font-size: .7rem;
  }

}

@media screen and (max-width: 1000px) {
  .distribuidores--convocatoria {
    font-size: 1rem;
  }

  .ubicacion--content h2 {
    font-size: 2rem;
  }

  .ubicacion--content p {
    z-index: 5;
  }

  .ubicacion--img {
    width: 500px;
    height: 320px;
  }

  .ubicacion--img .location-pin-white {
    bottom: 200px;
    z-index: 1;
    opacity: .5;
  }

  .ubicacion--img .location-pin {
    width: 30px;
  }

  .ubicacion--img .lanus {
    top: 0;
    left: 27px;
  }

  .ubicacion--img .laplata {
    bottom: 70px;
    right: 60px;
  }

}

@media screen and (max-width: 768px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }

  button {
    width: 250px;
    height: 50px;
    font-size: .9rem;
  }

  nav {
    padding-top: 2rem;
    padding-bottom: 1rem;
    justify-content: space-between;
  }

  .nav--open-menu {
    font-size: 2rem;
    padding-right: 2rem;
  }

  .nav--close-menu {
    color: var(--crema);
    font-size: 2rem;
    font-weight: 100;
  }

  .nav--logo {
    width: 70px;
  }

  nav > ul {
    flex-direction: column;
    position: absolute;
    height: 300px;
    padding: 2rem 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--rojo);
    z-index: 15;
    transition: all .7s ease;
  }

  #nav--checkbox:checked ~ ul {
    top: -400px;
  }

  nav > ul > li > a {
    color: var(--crema);
    font-size: 1.2rem;
  }

  /* -------------------------- MOBILE HERO -------------------------- */

  .hero {
    min-height: calc(100vh - 4.2rem);
    justify-content: space-evenly;
    gap: 1rem;
  }

  .hero--wrapper {
    flex-direction: column-reverse;
    gap: 0;
  }

  .hero > h2 {
    font-size: 1.2rem;
    margin: 0;
    align-self: center;
  }

  .hero--content {
    width: 80%;
    align-items: center;
    gap: 1rem;
  }

  .hero--content > p {
    font-size: 1rem;
    text-align: justify;
  }

  .hero--logo {
    width: 50vw;
  }

  .hero--img {
    width: 80%;
    height: 200px;
  }

  .hero--volcan {
    width: 100px;
    animation: hero-volcan-mobile .3s ease forwards;
  }
  
  .hero--burgers {
    width: 150px;
    animation: hero-burgers-mobile .35s ease forwards;
  }
  
  .hero--potato {
    width: 100px;
    animation: hero-potato-mobile .4s ease forwards;
  }
  
  .hero--pepas {
    width: 100px;
    animation: hero-pepas-mobile .4s ease forwards;
  }

/* -------------------------- MOBILE QUIENES SOMOS -------------------------- */

  .quienessomos {
    padding-bottom: 3rem;
  }

  .quienessomos--content h2 {
    margin-top: 2rem;
    align-self: center;
    font-size: 1.8rem;
  }

  .quienessomos--content p {
    font-size: 1rem;
    text-align: justify;
  }

  .quienessomos--content h3 {
    align-self: center;
  }

  .quienessomos--productos {
    height: 750px;
    flex-direction: column;
  }

  .quienessomos--productos img {
    height: 120px;
  }

  .quienessomos--productos > div:hover > img:nth-child(1) {
    transform: rotate(-20deg) translateX(-22vw);
    filter: brightness(1);
  }
  
  .quienessomos--productos > div:hover > img:nth-child(2) {
    transform: rotate(-10deg) translateX(-11vw);
    filter: brightness(1);
  }
  
  .quienessomos--productos > div:hover > img:nth-child(3) {
    transform: rotate(10deg) translateX(11vw);
    filter: brightness(1);
  }

  .quienessomos--productos > div:hover > img:nth-child(4) {
    transform: rotate(20deg) translateX(22vw);
    filter: brightness(1);
  }

/* -------------------------- MOBILE UBICACIÓN -------------------------- */

  .ubicacion--content p {
    text-align: justify;
  }

  .ubicacion--img {
    width: 300px;
    height: 200px;
  }

  .ubicacion--img .location-pin-white {
    height: 70vh;
  }

  .ubicacion--img .lanus {
    top: 0;
    left: 12px;
  }

  .ubicacion--img .laplata {
    bottom: 40px;
    right: 30px;
  }


/* -------------------------- MOBILE EMPLEO -------------------------- */

  .empleo {
    padding: 3rem 0;
    padding-bottom: 4rem;
  }

  .empleo h2 {
    text-align: center;
    font-size: 1.8rem;
    margin: 1rem 3rem;
  }

  .empleo--container {
    align-items: center;
  }

  .empleo--container p {
    font-size: 1rem;
    text-align: justify;
    width: unset;
  }

  .empleo--container ul {
    font-size: 1rem;
    text-align: justify;
  }

  .empleo--img {
    position: relative;
    align-self: center;
    left: unset;
    width: 50vw;
    z-index: 5;
  }

  .empleo--container a {
    z-index: 5;
  }

/* -------------------------- MOBILE DISTRIBUIDORES -------------------------- */


  .distribuidores h2 {
    font-size: 2rem;
  }

  .distribuidores p {
    font-size: 1rem;
    text-align: justify;
  }

  .testimonios--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .testimonios--card {
    z-index: 5;
    width: 90%;
    height: 200px;
    background-color: var(--rojo);
    margin-bottom: -190px;
    box-shadow: 0 -5px 10px 1px var(--crema-10);
  }

  .testimonios--card-quote {
    font-size: 30px;
  }

  .testimonios--card-quote::before {
    content: '';
    background-color: var(--crema-50);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    left: -10px;
    top: -5px;
  }

  .testimonios--card:hover {
    z-index: 20;
    margin-bottom: 0;
  }

  .testimonios--card:last-child {
    margin-bottom: unset;
  }

  .testimonios--card:last-child:hover {
    margin-bottom: unset;
  }

  .distribuidores--convocatoria {
    padding: 3rem 2rem;
  }

  .distribuidores--convocatoria h3 {
    font-size: 1rem;
  }

  .distribuidores--convocatoria h4 {
    font-size: 1.6rem;
  }

  .distribuidores--convocatoria p {
    text-align: justify;
    font-size: .9rem;
  }

  .distribuidores--convocatoria ul {
    font-size: .9rem;
    margin: 0;
  }

  .distribuidores--convocatoria::after {
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 46px solid var(--blanco);
    bottom: -45px;
  }


/* -------------------------- MOBILE USUARIOS -------------------------- */

  .usuarios {
    height: 100lvh;
  }

  .usuarios h3 {
    font-size: 1rem;
  }

  .usuarios img {
    width: 70vw;
  }

  /* -------------------------- MOBILE FOOTER -------------------------- */

  footer {
    height: 50px;
    padding: 0 1rem;
    font-size: .9rem;
  }

  footer p img {
    height: 1.4rem;
    margin-left: .5rem;
  }


}


